{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "schema-dot-org" }}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": {{ . | absURL }}
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": {{ printf "%s" .Permalink }},
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": {{ .PublishDate.Format $ISO8601 }},
  {{- else }}
  "datePublished": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": {{ .Lastmod.Format $ISO8601 }},
  {{- end }}
  "author": {
    "@type": "Person",
    "name": {{ .Params.author | default .Site.Params.author }}
  }
  {{- if or (.Params.keywords) (or (.Params.categories) (.Params.tags)) -}}
  ,
  "keywords": {{ delimit (union .Params.keywords (union .Params.categories .Params.tags)) ", " }}
  {{- end }}

  {{- with .Params.description -}}
  ,
  "description": {{ . }}
  {{- end }}
}
</script>

{{ end }}

{{ define "main" }}
<div class="container">
  <div class="columns">
    <div class="column is-9">
      <div class="container">
        {{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

        <div class="card">
          {{ $tagcolour := .Site.Params.params.colour }}

          <div class="card-header" style="flex-flow: column">

            <span class="card-header-title is-size-4"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>
            <div class="box is-size-7" style="flex-flow: column">
              <div class="field is-grouped is-grouped-multiline">

                {{ if .IsTranslated }}
                {{ range .Translations }}
                {{ $tagcolour := .Site.Params.params.colour }}
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag {{ $tagcolour }}">{{ .Lang }}</span>
                    <span class="tag {{ $tagcolour }} is-light has-text-white"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                  </div>
                </div>

                {{ end }}
                {{ end }}

              </div>
            </div>
          </div>

           <div class="card-image">
              {{ $image := resources.Get (printf "%s%s" "images/" "tiebi.jpg" ) }}
              <figure class="image">
                <img src="{{ $image.RelPermalink }}" alt="Placeholder image">
              </figure>
            </div>
          <div class="card-content is-primary">
            <div class="content">
              {{ .Content }}
            </div>
          </div>

          <div class="card-footer" style="flex-flow: column;">
            {{ if or (ne ($.Param "share") false) (.Site.DisqusShortname) }}

            <div class="card-footer-item">
              {{ if (ne ($.Param "share") false) }}
              {{ partial "share" . }}
              {{ end }}
            </div>
            <div class="card-footer-item">
              {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
              {{ template "_internal/disqus.html" . }}
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>

      </div>
    </div> 
    <div class="column is-3">
      {{ partial "aside" . }}
    </div>
  </div>
</div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

