{{ define "schema-dot-org" }}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
  "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- /* all of the site's categories/tags, from Hugo's tpl/template_embedded.go */}}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}
  {{- with .Site.Params.description -}}
  ,
  "description": {{- . -}}
  {{- end }}
}
</script>

{{ end }}

{{ define "main" }}
<div class="container">
  <div class="columns">
    <div class="column is-9">
      <div class="container">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "home") }} 
        {{ range $paginator.Pages }} 

        <div class="card" data-target="modal-image">
          {{ $tagcolour := .Site.Params.params.colour }}

          <span class="card-header-title {{ $tagcolour }} is-size-7 field is-grouped is-grouped-multiline"></span>
          <div class="box is-size-7" style="flex-flow: column">
            <div class="field is-grouped is-grouped-multiline">

              {{ if .IsTranslated }}
              {{ range .Translations }}
              {{ $tagcolour := .Site.Params.params.colour }}
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag {{ $tagcolour }}">{{ .Lang }}</span>
                  <span class="tag {{ $tagcolour }} is-light has-text-black"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                </div>
              </div>
              {{ end }}
              {{ end }}

            </div>
          </div>

           <div class="card-image">
              {{ $image := resources.Get (printf "%s%s" "images/" "tiebi.jpg" ) }}
              <figure class="image">
                <img src="{{ $image.RelPermalink }}" alt="Placeholder image">
              </figure>
            </div>
          <div class="card-content is-primary">
            <div class="content">
              {{ .Content }}
            </div>
          </div>

          {{ end }}

        </div>
      </div>
    </div> 
    <div class="column is-3">
      {{ partial "aside" . }}
    </div>
  </div>
</div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

